<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EbayEnterprise_MageLog>
			<version>1.0.0</version>
		</EbayEnterprise_MageLog>
	</modules>
	<global>
		<models>
			<magelog>
				<class>EbayEnterprise_MageLog_Model</class>
			</magelog>
		</models>
		<helpers>
			<ebayenterprise_magelog>
				<class>EbayEnterprise_MageLog_Helper</class>
			</ebayenterprise_magelog>
		</helpers>
		<log>
			<core>
				<writer_model>EbayEnterprise_MageLog_Model_Stream</writer_model>
			</core>
		</log>
	</global>
	<frontend>
		<routers>
			<magelog>
				<args>
					<modules>
						<EbayEnterprise_MageLog before="Mage_MageLog">EbayEnterprise_MageLog</EbayEnterprise_MageLog>
					</modules>
				</args>
			</magelog>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<ebayenterprise_magelog>
					<file>ebayenterprise_magelog.xml</file>
				</ebayenterprise_magelog>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<dev>
			<log>
				<log_level>6</log_level>
				<email_logging_level>2</email_logging_level>
			</log>
		</dev>
	</default>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_MageLog />
			</modules>
		</suite>
	</phpunit>
</config>
